#set global $statpath="../.."
#set global $topmenu="config"
#set global $submenu=""
#include $templates_dir + "/inc_top.tmpl"
#include $templates_dir + "/inc_cmenu.tmpl"

<form>

<h2>Configuration</h2>

This section allows you to define the settings for MovieGrabber.

<br>
<br>

</form>

#include $templates_dir + "/inc_bottom.tmpl"