#set global $statpath="../.."
#set global $topmenu="config"
#set global $submenu=""
#include "%s/inc_top.tmpl" % ($templates_dir)
#include "%s/inc_cmenu.tmpl" % ($templates_dir)

<form>

<h2>Configuration</h2>

This section allows you to define the settings for MovieGrabber.

<br>
<br>

</form>

#include "%s/inc_bottom.tmpl" % ($templates_dir)