#set global $statpath="../.."
#set global $topmenu="config"
#set global $submenu="directories"
#include "%s/inc_top.tmpl" % ($templates_dir)
#include "%s/inc_cmenu.tmpl" % ($templates_dir)

<form action="save_config_directories" method="post">

<h2>Folders</h2>

<div class="EntryBlock">

	<fieldset class="EntryFieldSet">
		<legend>MovieGrabber Folders</legend>

		<a title="Location used to store movies you have already downloaded, this will skip downloading the movie if a match is found - use commas to seperate root folders."><strong>(?)</strong></a><strong>Movies Downloaded:</strong><br>
		MovieGrabber downloaded folder location(s).<br/>

		<input type="text" class="form_textbox_padding" name="movies_downloaded_dir2" value="$movies_downloaded_dir" maxlength="1000" placeholder="e.g. c:\movies\hd\"/>

		<br>
		<br>

		<a title="Location used to store movies you want to replace, this will skip checks and force a download if a match is found - use commas to seperate root folders."><strong>(?)</strong></a><strong>Movies To Replace:</strong><br>
		MovieGrabber replacement folder location(s).<br/>

		<input type="text" class="form_textbox_padding" name="movies_replace_dir2" value="$movies_replace_dir" maxlength="1000" placeholder="e.g. c:\movies\sd\"/>

		<br>
		<br>
				
		<a title="Location used to store ssl certs used by MovieGrabber."><strong>(?)</strong></a><strong>Certs Folder:</strong><br>
		MovieGrabber ssl certs folder location.<br/>

		<input type="text" class="form_textbox_padding" name="certs_dir2" value="$certs_dir" maxlength="1000" placeholder="e.g. c:\moviegrabber\certs\"/>

		<br>
		<br>

		<a title="Location used to store results db used by MovieGrabber."><strong>(?)</strong></a><strong>DB Folder:</strong><br>
		MovieGrabber db folder location.<br/>

		<input type="text" class="form_textbox_padding" name="results_dir2" value="$results_dir" maxlength="1000" placeholder="e.g. c:\moviegrabber\db\"/>

		<br>
		<br>
		
		<a title="Location used to store logs generated by MovieGrabber."><strong>(?)</strong></a><strong>Logs Folder:</strong><br>
		MovieGrabber logs folder location.<br/>

		<input type="text" class="form_textbox_padding" name="logs_dir2" value="$logs_dir" maxlength="1000" placeholder="e.g. c:\moviegrabber\logs\"/>

		<br>
		<br>
		
	</fieldset>
	
	<fieldset class="EntryFieldSet">
		<legend>SABnzbd+ Folders</legend>

		<a title="Location specified by sabnzbd+ to watch for new NZB files."><strong>(?)</strong></a><strong>Watched Folder:</strong><br>
		Sabnzbd+ watch folder location.<br/>

		<input type="text" class="form_textbox_padding" name="usenet_watch_dir2" value="$usenet_watch_dir" maxlength="1000" placeholder="e.g. c:\sabnzbd\data\watched\"/>

		<br>
		<br>

		<a title="Location specified by sabnzbd+ to archive NZB files."><strong>(?)</strong></a><strong>Archive Folder:</strong><br>
		Sabnzbd+ nzb archive folder location.<br/>

		<input type="text" class="form_textbox_padding" name="usenet_archive_dir2" value="$usenet_archive_dir" maxlength="1000" placeholder="e.g. c:\sabnzbd\data\nzbs\"/>
		<br>
		<br>

		<a title="Location specified by sabnzbd+ to store completed downloads."><strong>(?)</strong></a><strong>Completed Folder:</strong><br>
		Sabnzbd+ completed downloads folder location.<br/>

		<input type="text" class="form_textbox_padding" name="usenet_completed_dir2" value="$usenet_completed_dir" maxlength="1000" placeholder="e.g. c:\sabnzbd\data\completed\"/>

		<br>
		<br>
		
	</fieldset>

	<fieldset class="EntryFieldSet">
		<legend>Torrent Folders</legend>

		<a title="Location specified by torrent client to watch for new torrent files."><strong>(?)</strong></a><strong>Watched Folder:</strong><br>
		Torrent watch folder location.<br/>

		<input type="text" class="form_textbox_padding" name="torrent_watch_dir2" value="$torrent_watch_dir" maxlength="1000" placeholder="e.g. c:\utorrent\data\watched\"/>

		<br>
		<br>

		<a title="Location specified by torrent client to archive torrent files."><strong>(?)</strong></a><strong>Archive Folder:</strong><br>
		Torrent archive folder location.<br/>

		<input type="text" class="form_textbox_padding" name="torrent_archive_dir2" value="$torrent_archive_dir" maxlength="1000" placeholder="e.g. c:\utorrent\data\torrents\"/>
		<br>
		<br>

		<a title="Location specified by torrent client to store completed downloads."><strong>(?)</strong></a><strong>Completed Folder:</strong><br>
		Torrent completed downloads folder location.<br/>

		<input type="text" class="form_textbox_padding" name="torrent_completed_dir2" value="$torrent_completed_dir" maxlength="1000" placeholder="e.g. c:\utorrent\data\completed\"/>

		<br>
		<br>
		
	</fieldset>
	
</div>

<br>
<br>

<input type="submit" value="Save Changes">

<br>

</form>

#include "%s/inc_bottom.tmpl" % ($templates_dir)