#set global $statpath="../.."
#set global $topmenu="config"
#set global $submenu="usenet"
#include "%s/inc_top.tmpl" % ($templates_dir)
#include "%s/inc_cmenu.tmpl" % ($templates_dir)

<h2>Usenet Index</h2>

<!--
############
CREATE INDEX
############
-->

<form action="add_config_usenet" method="post" id="add_config_usenet_form">
</form>

<fieldset class="EntryFieldSet">				
	<legend>Index Settings</legend>
	
	<a title="Allows you to add usenet index sites you wish to use - note some indexers require payment as well as registration or will have API restrictions for free accounts."><strong>(?)</strong></a><strong>Index Site:</strong><br>	
	Add index site.
	
	<br>

	<select name="add_newznab_site2" form="add_config_usenet_form">
		<option value="nzbs_org" selected>nzbs.org</option>
		<option value="nzb_su">nzb.su</option>
		<option value="dognzb_cr">dognzb.cr</option>
		<option value="nzbs4u_net">nzbs4u.net</option>
		<option value="nzb_ag">nzb.ag</option>
		<option value="usenet_crawler">usenet-crawler.com</option>		
		<option value="nmatrix_co_za">nmatrix.co.za</option>		
		<option value="newzb_net">newzb.net</option>
		<option value="nzbplanet_net">nzbplanet.net</option>
		<option value="nzbndx_com">nzbndx.com</option>
		<option value="nzbid_org">nzbid.org</option>
		<option value="custom">custom</option>
	</select>
	
	<br>
	<br>
	
	<input type="submit" value="Add Site" form="add_config_usenet_form">
	
	<br>
	
	<a title="Tip: A list of know indexers can be found here:- http://www.usenetdb.net/indexers"></a>
</fieldset>

<!--
#################
EDIT/DELETE INDEX
#################
-->

<!--#for $index_site_item in $index_site_list#-->

	<fieldset class="EntryFieldSet">
		<legend>$index_site_item settings</legend>

		<!--#set $edit_config_usenet = "edit_config_usenet_" + str($index_site_item)#-->		
		<!--#set $delete_config_usenet = "delete_config_usenet_" + str($index_site_item)#-->

		<form action="edit_config_usenet" method="post" id="$edit_config_usenet">
		</form>
		
		<form action="delete_config_usenet" method="post" id="$delete_config_usenet">
		</form>

		<a title="Allows you to enable/disable selected index site."><strong>(?)</strong></a><strong>Enabled:</strong>	
		
		<!--#set $newznab_enabled = $config_obj["usenet"][$index_site_item + "_enabled"]#-->		
		
		<select name="newznab_enabled2" form="$edit_config_usenet">
		<!--#if $newznab_enabled == "yes"#-->
			<option value="yes" selected>yes</option>
			<option value="no">no</option>		
		<!--#else#-->		
			<option value="yes">yes</option>					
			<option value="no" selected>no</option>				
		<!--#end if#-->
		</select>
		
		<br>
		<br>

		<a title="Allows you to specify the hostname of the newznab server. This can be a local server or a external hostname, this can specified as an ip address or hostname e.g. https://nzb.su."><strong>(?)</strong></a><strong>Hostname:</strong><br>
		Define hostname.<br/>
		
		<!--#set $newznab_hostname = $config_obj["usenet"][$index_site_item + "_hostname"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_hostname2" value="$newznab_hostname" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. https://nzb.su" required/>
		<br>
		<br>

		<a title="Allows you to specify the path of the newznab server. This setting is optional and is not required for newznab servers running from root, an example path is as follows e.g. /website/newznab/"><strong>(?)</strong></a><strong>Path:</strong><br>
		Define path. - optional<br/>
		
		<!--#set $newznab_path = $config_obj["usenet"][$index_site_item + "_path"]#-->

		<!--#if "custom" in $index_site_item#-->			
			<input type="text" class="form_textbox_padding" name="newznab_path2" value="$newznab_path" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. website/newznab"/>
		<!--#else#-->		
			<input type="text" class="form_textbox_padding" name="newznab_path2" value="$newznab_path" maxlength="1000" form="$edit_config_usenet" disabled/>
			<input type="hidden" name="newznab_path2" value="" form="$edit_config_usenet">
		<!--#end if#-->
		<br>
		<br>			
		
		<a title="Allows you to specify the port number of the newznab server e.g. 443."><strong>(?)</strong></a><strong>Port:</strong><br>
		Define port number.<br/>

		<!--#set $newznab_portnumber = $config_obj["usenet"][$index_site_item + "_portnumber"]#-->
		
		<!--#if "custom" in $index_site_item#-->
			<input type="text" class="form_textbox_padding" name="newznab_portnumber2" value="$newznab_portnumber" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 80 or 443" required/>
		<!--#else#-->		
			<input type="text" class="form_textbox_padding" name="newznab_portnumber2" value="$newznab_portnumber" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 80 or 443" disabled/>		
			<input type="hidden" name="newznab_portnumber2" value="$newznab_portnumber" form="$edit_config_usenet">
		<!--#end if#-->
		
		<br>
		<br>

		<a title="Allows you to specify the api/rss key for the newznab server - can be found at https://<hostname>/profile."><strong>(?)</strong></a><strong>API/RSS Key:</strong><br>
		Define API/RSS Key.<br/>

		<!--#set $newznab_key = $config_obj["usenet"][$index_site_item + "_key"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_key2" value="$newznab_key" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 11aa22bb33cc44" required/>
		<br>
		<br>

		<a title="Allows you to specify whether server is running spotweb."><strong>(?)</strong></a><strong>Spotweb Support:</strong><br>
		Switch spotweb support on/off.<br/>
		
		<!--#set $spotweb_support = $config_obj["usenet"][$index_site_item + "_spotweb_support"]#-->
		
		<select name="spotweb_support2" form="$edit_config_usenet">
		<!--#if $spotweb_support == "yes"#-->
			<option value="yes" selected>yes</option>
			<option value="no">no</option>		
		<!--#else#-->		
			<option value="yes">yes</option>					
			<option value="no" selected>no</option>				
		<!--#end if#-->
		</select>

		<br>
		<br>

		<a title="Allows you to specify the category you wish to search - note you can only choose one category at present."><strong>(?)</strong></a><strong>Category:</strong><br>
		Select categories to search.<br/>
		
		<!--#set $newznab_cat = $config_obj["usenet"][$index_site_item + "_cat"]#-->
		
		<select name="newznab_cat2" form="$edit_config_usenet">
			<!--#for $newznab_cat_item in $newznab_cat_list#-->
				<!--#if $newznab_cat_item.lower() == $newznab_cat.lower()#-->
					<option value="$newznab_cat_item" selected>$newznab_cat_item</option>
				<!--#else#-->
					<option value="$newznab_cat_item">$newznab_cat_item</option>
				<!--#end if#-->
			<!--#end for#-->
		</select>
		
		<br>
		<br>

		<strong>Search Criteria:</strong><br>
		<a title="Allows you to specify what you want to search for within the choosen category, ALL search terms entered in this field MUST be present in the post title to produce a match e.g. 720p,bluray - match only if 720p and bluray in the post title."><strong>(?)</strong></a>MUST exist in the post title.<br/>

		<!--#set $newznab_search_and = $config_obj["usenet"][$index_site_item + "_search_and"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_search_and2" value="$newznab_search_and" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 1080p,bluray"/>
		<br>
		<br>

		<a title="Allows you to specify what you want to search for within the choosen category, ANY search terms entered in this field MAY be present in the post title to produce a match e.g. 720p,1080p - match if either 720p or 1080p in the post title."><strong>(?)</strong></a>MAY exist in the post title.<br/>		

		<!--#set $newznab_search_or = $config_obj["usenet"][$index_site_item + "_search_or"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_search_or2" value="$newznab_search_or" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 720p,1080p"/>
		<br>
		<br>

		<a title="Allows you to specify what you want to search for within the choosen category, ANY search terms entered in this field MUST NOT be present in the post title to produce a match e.g. telesync,cam - do not match if telesync or cam in the post title."><strong>(?)</strong></a>MUST NOT exist in the post title.<br/>
		
		<!--#set $newznab_search_not = $config_obj["usenet"][$index_site_item + "_search_not"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_search_not2" value="$newznab_search_not" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. cam,telesync"/>
		<br>
		<br>

		<a title="Allows you to specify the minimum post size in megabytes. If you wish to have an unlimited minimum size then enter a value of 0."><strong>(?)</strong></a><strong>Minimum Size:</strong><br>
		Define minimum size (MB).<br/>

		<!--#set $newznab_minsize = $config_obj["usenet"][$index_site_item + "_minsize"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_minsize2" value="$newznab_minsize" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 2000"/>
		<br>
		<br>

		<a title="Allows you to specify the maximum post size in megabytes. If you wish to have an unlimited maximum size then enter a value of 0."><strong>(?)</strong></a><strong>Maximum Size:</strong><br>
		Define maximum size (MB).<br/>
		
		<!--#set $newznab_maxsize = $config_obj["usenet"][$index_site_item + "_maxsize"]#-->
		
		<input type="text" class="form_textbox_padding" name="newznab_maxsize2" value="$newznab_maxsize" maxlength="1000" form="$edit_config_usenet" placeholder="e.g. 25000"/>
		<br>
		<br>
						
		<input type="hidden" name="edit_newznab_site2" value="$index_site_item" form="$edit_config_usenet">
		<input type="submit" value="Save Changes" form="$edit_config_usenet">
		
		<input type="hidden" name="delete_newznab_site2" value="$index_site_item" form="$delete_config_usenet">
		<input type="submit" value="Delete Site" form="$delete_config_usenet">
		
	</fieldset>
		
<!--#end for#-->		

#include "%s/inc_bottom.tmpl" % ($templates_dir)