<div class="footer">

<b>Last Run On:</b> $last_run

<br>Created by <a href="$forum_link">binhex</a>

<!--#if $update_available == "yes"#-->
	<br><a href="$update_url"><font color="red">Update Available</font></a>
<!--#end if#-->

</div>
</div>
</body>
</html>