#set global $statpath="../.."
#set global $topmenu="queue"
#set global $submenu=""

#include "%s/inc_top.tmpl" % ($templates_dir)

<!--#import urllib#-->

<!--#set $purge_selected_msg = "'" + "Are you sure you want to purge the selected movies?" + "'" #-->
<!--#set $purge_all_msg = "'" + "Are you sure you want to purge all movies?" + "'" #-->
<!--#set $release_all_msg = "'" + "Are you sure you want to release all movies? !!WARNING!! This could result in a large number of nzb/torrent downloads" + "'" #-->

<span class="SubMenu">
</span>	

<h2>Queued Movies</h2>

<a title="Displays information for all queued items with options to purge or release to watched folder."><strong>(?)</strong></a><strong>Queue Details:</strong><br><br>

<!--#if $sqlite_queue_count == 0#-->

	<b>No items found.</b>	
	
<!--#else#-->
	
	<b>Sort Order: </b>
	<select name="queued_sort_order" onchange="window.location='./queue_sort_order?sort_order=' + this.value;">

		<!--#if $queued_sort_order == "asc,imdbrating"#-->
			<option value="asc,imdbrating" selected>imdb ratings asc</option>
			<option value="desc,imdbrating">imdb ratings desc</option>		
		<!--#elif $queued_sort_order == "desc,imdbrating"#-->	
			<option value="asc,imdbrating">imdb ratings asc</option>		
			<option value="desc,imdbrating" selected>imdb ratings desc</option>
		<!--#else#-->		
			<option value="asc,imdbrating">imdb ratings asc</option>					
			<option value="desc,imdbrating">imdb ratings desc</option>
		<!--#end if#-->

		<!--#if $queued_sort_order == "asc,imdbvotes"#-->
			<option value="asc,imdbvotes" selected>imdb votes asc</option>
			<option value="desc,imdbvotes">imdb votes desc</option>		
		<!--#elif $queued_sort_order == "desc,imdbvotes"#-->		
			<option value="asc,imdbvotes">imdb votes asc</option>		
			<option value="desc,imdbvotes" selected>imdb votes desc</option>	
		<!--#else#-->		
			<option value="asc,imdbvotes">imdb votes asc</option>					
			<option value="desc,imdbvotes">imdb votes desc</option>
		<!--#end if#-->
		
		<!--#if $queued_sort_order == "desc,imdbname"#-->
			<option value="desc,imdbname" selected>imdb title asc</option>
			<option value="asc,imdbname">imdb title desc</option>		
		<!--#elif $queued_sort_order == "asc,imdbname"#-->		
			<option value="desc,imdbname">imdb title asc</option>			
			<option value="asc,imdbname" selected>imdb title desc</option>
		<!--#else#-->		
			<option value="desc,imdbname">imdb title asc</option>					
			<option value="asc,imdbname">imdb title desc</option>
		<!--#end if#-->

		<!--#if $queued_sort_order == "desc,imdbyear"#-->
			<option value="asc,imdbyear">imdb year asc</option>
			<option value="desc,imdbyear" selected>imdb year desc</option>		
		<!--#elif $queued_sort_order == "asc,imdbyear"#-->		
			<option value="asc,imdbyear" selected>imdb year asc</option>			
			<option value="desc,imdbyear">imdb year desc</option>
		<!--#else#-->		
			<option value="asc,imdbyear">imdb year asc</option>					
			<option value="desc,imdbyear">imdb year desc</option>
		<!--#end if#-->
		
		<!--#if $queued_sort_order == "desc,postname"#-->
			<option value="desc,postname" selected>post title asc</option>
			<option value="asc,postname">post title desc</option>		
		<!--#elif $queued_sort_order == "asc,postname"#-->		
			<option value="desc,postname">post title asc</option>		
			<option value="asc,postname" selected>post title desc</option>	
		<!--#else#-->		
			<option value="desc,postname">post title asc</option>					
			<option value="asc,postname">post title desc</option>
		<!--#end if#-->

		<!--#if $queued_sort_order == "asc,postsizesort"#-->		
			<option value="asc,postsizesort" selected>post size asc</option>	
			<option value="desc,postsizesort">post size desc</option>			
		<!--#elif $queued_sort_order == "desc,postsizesort"#-->
			<option value="asc,postsizesort">post size asc</option>					
			<option value="desc,postsizesort" selected>post size desc</option>
		<!--#else#-->		
			<option value="asc,postsizesort">post size asc</option>
			<option value="desc,postsizesort">post size desc</option>			
		<!--#end if#-->

		<!--#if $queued_sort_order == "asc,postdatesort"#-->
			<option value="asc,postdatesort" selected>post date asc</option>
			<option value="desc,postdatesort">post date desc</option>		
		<!--#elif $queued_sort_order == "desc,postdatesort"#-->		
			<option value="asc,postdatesort">post date asc</option>	
			<option value="desc,postdatesort" selected>post date desc</option>		
		<!--#else#-->		
			<option value="asc,postdatesort">post date asc</option>					
			<option value="desc,postdatesort">post date desc</option>
		<!--#end if#-->

		<!--#if $queued_sort_order == "asc,procdatesort"#-->
			<option value="asc,procdatesort" selected>process date asc</option>
			<option value="desc,procdatesort">process date desc</option>		
		<!--#elif $queued_sort_order == "desc,procdatesort"#-->		
			<option value="asc,procdatesort">process date asc</option>	
			<option value="desc,procdatesort" selected>process date desc</option>		
		<!--#else#-->		
			<option value="asc,procdatesort">process date asc</option>					
			<option value="desc,procdatesort">process date desc</option>
		<!--#end if#-->
		
		<!--#if $queued_sort_order == "desc,dlstatus"#-->
			<option value="desc,dlstatus" selected>result status asc</option>
			<option value="asc,dlstatus">result status desc</option>		
		<!--#elif $queued_sort_order == "asc,dlstatus"#-->		
			<option value="desc,dlstatus">result status asc</option>	
			<option value="asc,dlstatus" selected>result status desc</option>		
		<!--#else#-->		
			<option value="desc,dlstatus">result status asc</option>					
			<option value="asc,dlstatus">result status desc</option>
		<!--#end if#-->
		
		<!--#if $queued_sort_order == "desc,dltype"#-->
			<option value="desc,dltype" selected>download type asc</option>
			<option value="asc,dltype">download type desc</option>		
		<!--#elif $queued_sort_order == "asc,dltype"#-->
			<option value="desc,dltype">download type asc</option>	
			<option value="asc,dltype" selected>download type desc</option>		
		<!--#else#-->		
			<option value="desc,dltype">download type asc</option>					
			<option value="asc,dltype">download type desc</option>
		<!--#end if#-->
		
	</select>

	<br>
	<br>
	
	<form action="./queue_search" method="post">
		<b>Search Queue: </b>
		<input type="text" class="form_textbox_padding" name="queue_search_title" value="" maxlength="1000" placeholder="e.g. The Matrix (1999)"/>
		<input type="submit" value="Submit">
	</form>
	
	<br>
	<br>
	
	<input type="submit" value="Purge Selected" form="queue_purge_checkbox">

	<form onsubmit="javascript:return confirm($purge_all_msg)" name="queue_purge_all" action="./queue_purge_all" method="post">	
		<input type="submit" value="Purge All">	
	</form>
	
	<input type="submit" value="Release Selected" form="queue_release_checkbox">								

	<form onsubmit="javascript:return confirm($release_all_msg)" name="queue_release_all" action="./queue_release_all" method="post">	
		<input type="submit" value="Release All">
	</form>
	
	<br>
	<br>
	
	<div id="history_queue_wrapper">
	
		<form action="./queue_release" method="post" id="queue_release_checkbox">
		</form>

		<form action="./queue_purge" method="post" id="queue_purge_checkbox">
		</form>
		
		<!--#set $odd = False#-->
		<!--#for $line in $lines#-->		

			<!--#set $odd = not $odd#-->
	
				<!--#note - create variables for checkboxes and image buttons#-->				
				<!--#set $queue_release_button_id = "queue_release_button_" + str($line.id)#-->			
				<!--#set $queue_release_checkbox_id = "queue_release_checkbox_" + str($line.id)#-->		
				<!--#set $queue_purge_button_id = "queue_purge_button_" + str($line.id)#-->							
				<!--#set $queue_purge_checkbox_id = "queue_purge_checkbox_" + str($line.id)#-->							
			
				<form action="./queue_release" method="post" id="$queue_release_button_id">
				</form>
	
				<form action="./queue_purge" method="post" id="$queue_purge_button_id">
				</form>
	
				<!--#note - the details DIV has to come first in html#-->					
				<div class="history_queue_details_resize">

				<!--#if $enable_posters == "yes"#-->									
					<div class="history_queue_details_poster">
				<!--#else#-->						
					<div class="history_queue_details_no_poster">					
				<!--#end if#-->
				
						<!--#set global $dltype=$line.dltype + ".gif"#-->
						
						<!--#if $line.imdbyear == 1900#-->
							<!--#set $imdbyear = ""#-->
						<!--#else#-->
							<!--#set $imdbyear = "(" + str($line.imdbyear) + ")"#-->					
						<!--#end if#-->		

						<!--#if $line.imdbrating == "-"#-->
							<!--#set $imdbrating = ""#-->
						<!--#else#-->
							<!--#set $imdbrating = str($line.imdbrating) + "/10"#-->					
						<!--#end if#-->		
						
						<!--#if $line.dlstatus == "Failed"#-->
							<span class="history_queue_status_box_black">Failed</span><h2 class="history_post_details_h2"><a href="$line.imdblink" class="history_post_details_colour">$line.imdbname</a> $imdbyear $imdbrating</h2>
						<!--#end if#-->
												
						<!--#if $line.dlstatus == "Queued"#-->
							<span class="history_queue_status_box_orange">Queued</span><h2 class="history_post_details_h2"><a href="$line.imdblink" class="history_post_details_colour">$line.imdbname</a> $imdbyear $imdbrating</h2>
						<!--#end if#-->
						
						<!--#if $line.dlstatus == "Downloading"#-->
							<span class="history_queue_status_box_blue">Downloading</span><h2 class="history_post_details_h2"><a href="$line.imdblink" class="history_post_details_colour">$line.imdbname</a> $imdbyear $imdbrating</h2>
						<!--#end if#-->
						
						<!--#if $line.dlstatus == "Downloaded"#-->
							<span class="history_queue_status_box_green">Downloaded</span><h2 class="history_post_details_h2"><a href="$line.imdblink" class="history_post_details_colour">$line.imdbname</a> $imdbyear $imdbrating</h2>
						<!--#end if#-->
						
						<p>
							$line.imdbplot<br>
						
						<p>						
							<b>Directors: </b>$line.imdbdirectors<br>						
							<b>Writers: </b>$line.imdbwriters<br>													
							<b>Actors: </b>$line.imdbactors<br>						
							<b>Characters: </b>$line.imdbcharacters<br>																				
							<b>Genres: </b>$line.imdbgenre<br>																				
							<b>Certificate/Runtime: </b>$line.imdbcert / $line.imdbruntime min<br>

						<p>							
							<a href="$line.postdetails" class="history_post_details_colour"><b>Post: </b>$line.postname </a><b>Size: </b>$line.postsize<br>
							<b>Process/Post Date: </b>$line.procdate / $line.postdate<br>
							
						<p>
							
						<!--#if $line.procresult.keys() != []#-->														
						
							<span class="history_post_details_h2"><b>Result: </b></span>
						
							<!--#for $procresult_item in $line.procresult.keys()#-->

								<!--#if $line.procresult[$procresult_item][0] == 1#-->
									<span class="history_queue_result_box_green">
								<!--#elif $line.procresult[$procresult_item][0] == 0#-->					
									<span class="history_queue_result_box_red">								
								<!--#end if#-->	

								<a title='$line.procresult[$procresult_item][2]' class="history_queue_result_details_colour">$line.procresult[$procresult_item][1]</a></span>
							
							<!--#end for#-->							
							
						<!--#end if#-->	
													
						<p>
							<input type="checkbox" style="display:none;" name="queue_purge_id" value="$line.id" form="queue_purge_checkbox" id="$queue_purge_checkbox_id">
							<input type="checkbox" class="history_checkbox_nomargin" name="queue_release_id" value="$line.id" form="queue_release_checkbox" id="$queue_release_checkbox_id" onclick="checkbox_checked('$queue_release_checkbox_id','$queue_purge_checkbox_id')" />						
							<a title="imdb" href="$line.imdblink" class="history_post_details_colour"><img alt="" class="logo_icon_position" src="/images/icon/imdb.gif"></a>
							<input type="image" title="download" class="logo_icon_position" src="/images/icon/$dltype" alt="download" name="" form="$queue_release_button_id">
							<!--#note - input type image cannot have value, thus using hidden input#-->
							<input type="hidden" name="queue_release_id" value="$line.id" form="$queue_release_button_id">
							<a title="details" href="$line.postdetails" class="history_post_details_colour"><img alt="" class="logo_icon_position" src="/images/icon/post.gif"></a>
							<a title="nfo" href="$line.postnfo" class="history_post_details_colour"><img alt="" class="logo_icon_position" src="/images/icon/nfo.gif"></a>							
							<input type="image" title="purge" class="logo_icon_position" src="/images/icon/purge.gif" alt="purge" name="" form="$queue_purge_button_id">
							<!--#note - input type image cannot have value, thus using hidden input#-->
							<input type="hidden" name="queue_purge_id" value="$line.id" form="$queue_purge_button_id">							
					</div>
					
				</div>
				
				<!--#if $enable_posters == "yes"#-->					

					<!--#note - the details DIV has to come first in html#-->
					<div class="history_queue_poster">
						
						<!--#set global $imdbposter=urllib.quote($line.imdbposter)#-->
						
						<!--#if $line.imdbposter == "default.jpg"#-->
							<a href="$line.imdblink" class="history_post_details_colour"><img alt="" src="/images/posters/thumbnails/default/$imdbposter" height="170" width="115" class="history_poster_image"><br></a><br>
						<!--#else#-->
							<a href="$line.imdblink" class="history_post_details_colour"><img alt="" src="/images/posters/thumbnails/history/$imdbposter" height="170" width="115" class="history_poster_image"><br></a><br>
						<!--#end if#-->

					</div>
					
				<!--#end if#-->

		<!--#end for#-->
		
	</div>	
			
	<br style="clear:both">
	<br>

	<input type="submit" value="Purge Selected" form="queue_purge_checkbox">

	<form onsubmit="javascript:return confirm($purge_all_msg)" name="queue_purge_all" action="./queue_purge_all" method="post">	
		<input type="submit" value="Purge All">	
	</form>
	
	<input type="submit" value="Release Selected" form="queue_release_checkbox">								

	<form onsubmit="javascript:return confirm($release_all_msg)" name="queue_release_all" action="./queue_release_all" method="post">	
		<input type="submit" value="Release All">
	</form>	

<!--#end if#-->

#include "%s/inc_bottom.tmpl" % ($templates_dir)