<!DOCTYPE html>
<html lang="en">

<head>
	<title>$title</title>
  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/stylesheets/bootstrap.tweaks.css">		
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

	<script src="/javascript/jquery.min.js"></script>
	<script src="/javascript/bootstrap.min.js"></script>
	
</head>

<body>