#include "%s/head.tmpl" % ($templates_dir)

<body>

#include "%s/top.tmpl" % ($templates_dir)
#include "%s/nav.tmpl" % ($templates_dir)

<!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.blastr.com/sites/blastr/files/matrix2bAIRwC77pGMxIuegcqmt88FJ7G.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Latest Queued - Movie1 name</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://www.screenrelish.com/wp-content/uploads/2014/07/fury_ver2_xlg.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Latest Queued - Movie2 name</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2013/11/star-wars-games-x-341135.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Latest Queued - Movie3 name</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

#set global $usenet_config_complete="no"
#set global $torrent_config_complete="no"
#set global $usenet_config_defined="no"	
#set global $torrent_config_defined="no"	
#set global $imdb_config_defined="no"
#set global $statpath="/"

<!--#if $usenet_index_site != ""#-->

	<!--#set global $usenet_config_defined="yes"#-->
	
	<b>Usenet</b><br>
	
	<!--#if $usenet_watch_dir != "" and $usenet_archive_dir != "" and $usenet_completed_dir != ""#-->
		<!--#set global $usenet_config_complete="yes"#-->			
	<!--#end if#-->	
	
	<!--#if $usenet_watch_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the SABnzbd+ <a href="$statpath/config/directories/">Watched Folder</a></span><br>
	<!--#end if#-->		

	<!--#if $usenet_archive_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the SABnzbd+ <a href="$statpath/config/directories/">Archive Folder</a></span><br>
	<!--#end if#-->		
	
	<!--#if $usenet_completed_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the SABnzbd+ <a href="$statpath/config/directories/">Completed Folder</a></span><br>
	<!--#end if#-->		
	
<!--#end if#-->				

<!--#if ($usenet_config_defined == "yes" and $usenet_config_complete == "yes")#-->
	<button type="button" class="btn btn-success">Ready</button><span class="home_status_text">Please click on <a href="$statpath/run_now">Run Now</a> or <a href="$statpath/config/scheduling">Schedule</a> the downloader.</span><br>
<!--#end if#-->				

<!--#if $torrent_index_site != ""#-->

	#set global $torrent_config_defined="yes"	
	
	<b>Torrent</b><br>
	
	<!--#if $torrent_watch_dir != "" and $torrent_archive_dir != "" and $torrent_completed_dir != ""#-->		
		<!--#set global $torrent_config_complete="yes"#-->
	<!--#end if#-->	
	
	<!--#if $torrent_watch_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the Torrent <a href="$statpath/config/directories/">Watched Folder</a></span><br>
	<!--#end if#-->	

	<!--#if $torrent_archive_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the Torrent <a href="$statpath/config/directories/">Archive Folder</a></span><br>
	<!--#end if#-->	

	<!--#if $torrent_completed_dir == ""#-->
		<button type="button" class="btn btn-danger">Incomplete</button><span class="home_status_text">Please specify the Torrent <a href="$statpath/config/directories/">Completed Folder</a></span><br>
	<!--#end if#-->	
	
<!--#end if#-->				

<!--#if ($torrent_config_defined == "yes" and $torrent_config_complete == "yes")#-->
	<button type="button" class="btn btn-success">Ready</button><span class="home_status_text">Please click on <a href="$statpath/run_now">Run Now</a> or <a href="$statpath/config/scheduling">Schedule</a> the downloader.</span><br>
<!--#end if#-->				

<!--#if $usenet_config_defined == "no" and $torrent_config_defined == "no"#-->
	<button type="button" class="btn btn-danger">Create Index</button><span class="home_status_text">Please add a <a href="$statpath/config/usenet">Usenet Index</a> or <a href="$statpath/config/torrent">Torrent Index</a></span><br>
<!--#end if#-->

<b>IMDb</b><br>

<!--#if $good_rating != "0.0" and $good_votes != "0"#-->
	<!--#set global $imdb_config_defined="yes"#-->
<!--#end if#-->
	
<!--#if $good_rating == "0.0"#-->
	<button type="button" class="btn btn-warning">Warning</button><span class="home_status_text">IMDb rating is currently set to defaults, this will result in large number of nzb's downloaded, please configure <a href="$statpath/config/imdb/">IMDb Good Rating</a></span><br>
<!--#end if#-->	

<!--#if $good_votes == "0"#-->
	<button type="button" class="btn btn-warning">Warning</button><span class="home_status_text">IMDb votes is currently set to defaults, this will result in a large number of nzb's downloaded, please configure <a href="$statpath/config/imdb/">IMDb Good Votes</a></span><br>
<!--#end if#-->	

<!--#if ($imdb_config_defined == "yes")#-->
	<button type="button" class="btn btn-success">Ready</button><h5>IMDb criteria defined.</h5><br>
<!--#end if#-->

</body>
</html>